<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2017-09-14T13:48:37.825838748"/>
	<style type="text/css">
		code.cjk { font-family: "Nimbus Mono L", monospace }
	</style>
</head>
<body lang="en-IN" dir="ltr">
	<h1>Hello, Rails!</h1>
	<%= link_to 'My Blog', controller: 'articles' %>
<p><br/>
<br/>

</p>
</body>
</html>
